@charset "utf-8";

/* 1) 인덱스 전체 공통 */
#container section{color: #ffffff;}
#container section.font_dark{color: #222222;}
#container section, .inner{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.inner{padding-left: 210px;padding-right: 210px;text-align: center;}/* .cnt7 제외 */

/* 2) 본문1 */
.cnt1 .swiper-container{width: 100%;height: 100vh;}/* height: 100vh; 모니터 세로 높이(사이트가 보여지는 화면영역만) 한칸을 차지 */
.cnt1 .swiper-slide{display: flex;align-items: center;padding-left: 210px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: no-repeat center top;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}/* flex-direction: row;flex-wrap: nowap;justify-content: flex-start; */
.cnt1 .slide1{background-image: url("../images/main/hmg-main-visual-img-001.jpg");}
.cnt1 .slide2{background-image: url("../images/main/hmg-main-visual-img-002.jpg");}
.cnt1 .slide3{background-image: url("../images/main/hmg-main-visual-img-003.jpg");}
.cnt1 .slide4{background-image: url("../images/main/hmg-main-visual-img-004.jpg");}
.cnt1 .slide5{background-image: url("../images/main/hmg-main-visual-img-005.jpg");}
/* 부모 중앙(수직, 수평)에 위치 absolute, top: 50%;left: 50%;transform: translate(-50%, -50%);  */
#mainVideo{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: auto;height: auto;min-width: 100%;min-height: 100%;}

.cnt1 .swiper-slide .txt strong{display: block;font-family: HDhB;font-size: 82px;line-height: 1.1;}
.cnt1 .swiper-slide .txt p{font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;font-size: 18px;padding-top: 25px;}
/* 컨트롤 버튼 */
.cnt1 .controller{left: 210px;bottom: 130px;width: 280px;height: 70px;/* background: grey */;z-index: 100;}
.cnt1 .controller > *{width: 60px;height: 60px;background: url("../images/icon/sp-hmg-pc-basic-large.png");top: 5px;}

/* 1) fraction타입의 페이징 */
.cnt1 .controller .swiper-pagination{left: 75px;background: none;line-height: 60px;}
.cnt1 .controller .swiper-pagination .swiper-pagination-current{font-size: 1.3em;}
/* 2) 이전과 다음버튼 */
.cnt1 .controller .prev_next{color: transparent;margin-top: 0;}
.cnt1 .controller .swiper-button-prev{left: 5px;background-position: -900px -100px;}
.cnt1 .controller .swiper-button-prev:hover, .cnt1 .controller .swiper-button-prev:focus{background-position: -1000px -100px;}
.cnt1 .controller .swiper-button-next{right: 75px;background-position: -1100px -100px;}
.cnt1 .controller .swiper-button-next:hover, .cnt1 .controller .swiper-button-next:focus{background-position: -1200px -100px;}
/* 3) play, stop 버튼 */
.cnt1 .controller > button{position: absolute;right: 5px;}
.cnt1 .controller .autoplay{display: none;background-position: -700px -100px;}
.cnt1 .controller .autoplay:hover, .cnt1 .controller .autoplay:focus{background-position: -800px -100px;}
.cnt1 .controller .autostop{background-position: -500px -100px;}
.cnt1 .controller .autostop:hover, .cnt1 .controller .autostop:focus{background-position: -600px -100px;}
/* 3) 본문2 ~ 본문 7 공통 */
.inner .tit_top{font-family: HDhB;font-size: 22px;}
.inner .tit{margin-top: 10px;font-family: HDhB;font-size: 72px;line-height: 1.1;}
.inner .txt{margin-top: 27px;font-family: HDhL;font-size: 21px;line-height: 30px;}
.btn_more{display: inline-block;font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;margin-top: 40px;width: 170px;height: 46px;line-height: 44px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;transition: all 0.5s;}
.btn_more.greytype{border: 1px solid #222;}
.btn_more.whitetype{border: 1px solid #fff;}
.btn_more:hover, .btn_more:focus{background-image: linear-gradient(to right, #ff8933 0%, #ea2e2e 100%);border-color: #ea2e2e;color: #ffffff;}

/* 4) 본문2 */
.cnt2{background: #f5f5f5;padding-top: 235px;padding-bottom: 235px;}

/* 5) 본문3 */
.cnt3{padding-top: 220px;padding-bottom: 220px;}
.academy_list{text-align: left;margin-top: 100px;}
.academy_list li::before{content: "";display: block;padding-bottom: 130%;}
/* li::before{padding-bottom: 130%;}가상요소로 padding-bottom (% - 부모의 가로크기를 기준) */
.academy_list li{position: relative;float: left;width: 31.4%;background: no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.academy_list li:nth-child(1){background-image: url("../images/main/hmg-main-academy-img-001.jpg");}
.academy_list li:nth-child(2){background-image: url("../images/main/hmg-main-academy-img-002.jpg");}
.academy_list li:nth-child(3){background-image: url("../images/main/hmg-main-academy-img-001.jpg");}
.academy_list li + li{margin-left: 2.9%;}
.academy_list li a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.2);}
/* 6) 본문4 */
/* 7) 본문5 */
/* 8) 본문6 */
/* 9) 본문7 */