@charset "utf-8";

/* 1) 인덱스 전체 공통 */
#container section{color: #ffffff;}
#container section.font_dark{color: #222222;}
#container section, .inner{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.inner{padding-left: 210px;padding-right: 210px;text-align: center;}/* .cnt7 제외 */

/* 2) 본문1 */
.cnt1 .swiper-container{width: 100%;height: 100vh;}/* height: 100vh; 모니터 세로 높이(사이트가 보여지는 화면영역만) 한칸을 차지 */
.cnt1 .swiper-slide{display: flex;align-items: center;padding-left: 210px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: no-repeat center top;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}/* flex-direction: row;flex-wrap: nowap;justify-content: flex-start; */
.cnt1 .slide1{background-image: url("../images/main/hmg-main-visual-img-001.jpg");}
.cnt1 .slide2{background-image: url("../images/main/hmg-main-visual-img-002.jpg");}
.cnt1 .slide3{background-image: url("../images/main/hmg-main-visual-img-003.jpg");}
.cnt1 .slide4{background-image: url("../images/main/hmg-main-visual-img-004.jpg");}
.cnt1 .slide5{background-image: url("../images/main/hmg-main-visual-img-005.jpg");}
/* 부모 중앙(수직, 수평)에 위치 absolute, top: 50%;left: 50%;transform: translate(-50%, -50%);  */
#mainVideo{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: auto;height: auto;min-width: 100%;min-height: 100%;}

.cnt1 .swiper-slide .txt strong{display: block;font-family: HDhB;font-size: 82px;line-height: 1.1;}
.cnt1 .swiper-slide .txt p{font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;font-size: 18px;padding-top: 25px;}
/* 컨트롤 버튼 */
.cnt1 .controller{left: 210px;bottom: 130px;width: 280px;height: 70px;/* background: grey */;z-index: 100;}
.cnt1 .controller > *{width: 60px;height: 60px;background: url("../images/icon/sp-hmg-pc-basic-large.png");top: 5px;}

/* 1) fraction타입의 페이징 */
.cnt1 .controller .swiper-pagination{left: 75px;background: none;line-height: 60px;}
.cnt1 .controller .swiper-pagination .swiper-pagination-current{font-size: 1.3em;}
/* 2) 이전과 다음버튼 */
.cnt1 .controller .prev_next{color: transparent;margin-top: 0;}
.cnt1 .controller .swiper-button-prev{left: 5px;background-position: -900px -100px;}
.cnt1 .controller .swiper-button-prev:hover, .cnt1 .controller .swiper-button-prev:focus{background-position: -1000px -100px;}
.cnt1 .controller .swiper-button-next{right: 75px;background-position: -1100px -100px;}
.cnt1 .controller .swiper-button-next:hover, .cnt1 .controller .swiper-button-next:focus{background-position: -1200px -100px;}
/* 3) play, stop 버튼 */
.cnt1 .controller > button{position: absolute;right: 5px;}
.cnt1 .controller .autoplay{display: none;background-position: -700px -100px;}
.cnt1 .controller .autoplay:hover, .cnt1 .controller .autoplay:focus{background-position: -800px -100px;}
.cnt1 .controller .autostop{background-position: -500px -100px;}
.cnt1 .controller .autostop:hover, .cnt1 .controller .autostop:focus{background-position: -600px -100px;}
/* 3) 본문2 ~ 본문 7 공통 */
.inner .tit_top{font-family: HDhB;font-size: 22px;}
.inner .tit{margin-top: 10px;font-family: HDhB;font-size: 72px;line-height: 1.1;}
.inner .txt{margin-top: 27px;font-family: HDhL;font-size: 21px;line-height: 30px;}
.btn_more{display: inline-block;font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;margin-top: 40px;width: 170px;height: 46px;line-height: 44px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;transition: all 0.5s;text-align: center;}
.btn_more.greytype{border: 1px solid #222;}
.btn_more.whitetype{border: 1px solid #fff;}
.btn_more:hover, .btn_more:focus{background-image: linear-gradient(to right, #ff8933 0%, #ea2e2e 100%);border-color: #ea2e2e;color: #ffffff;}

/* 4) 본문2 */
.cnt2{background: #f5f5f5;padding-top: 235px;padding-bottom: 235px;}
.cnt2 .inner .txt{color: #6c6c6c;}

/* 5) 본문3 */
.cnt3{padding-top: 220px;padding-bottom: 220px;}
.academy_list{text-align: left;}
.academy_list li::before{content: "";display: block;padding-bottom: 130%;}
/* li::before{padding-bottom: 130%;}가상요소로 padding-bottom (% - 부모의 가로크기를 기준) */
.academy_list li{width: 31.4%;}
.academy_list li:nth-child(1){background-image: url("../images/main/hmg-main-academy-img-001.jpg");}
.academy_list li:nth-child(2){background-image: url("../images/main/hmg-main-academy-img-002.jpg");}
.academy_list li:nth-child(3){background-image: url("../images/main/hmg-main-academy-img-003.jpg");}
.academy_list li + li{margin-left: 2.9%;}
.academy_list li a{background: rgba(0,0,0,0);transition: background 0.3s ease-in-out;}
.academy_list li a:hover, .academy_list li a:focus{background: rgba(0,0,0,.2);}
.academy_list li .list_txt{top: 8%;left: 2.5vw;border: 1px solid yellow;}
/* 2.5vw => 1920모니터 (48px), 1024모니터 (2.6px)에서 몇 픽셀??
2.5vw는 1vw가 2.5개 존재
1920/100 = 19.2픽셀 x 2.5 = 48px
1024/100 = 10.24픽셀 x 2.5 = 25.6px

75px 1920모니터, 1380모니터에서 몇 vw?
75픽셀 X 100 / 1920 = 3.90625vw
75픽셀 X 100 / 1380 = 5.434782608695652vw
*/
.cnt3 .list_txt .brand{font-family: HDhB; font-size: 22px;}
.cnt3 .list_txt .btn_more{top: 80px;}

/* 본문3과 본문4 공통 스타일 */
.list{margin-top: 100px;}
.list li{position: relative; float: left; background: no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.list li a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;}

/* a 공통 스타일 여기에 정리 */
.list_txt{position: absolute;}
.list_txt strong{display: block;font-family: HDhB;font-size: 40px;}
.list_txt .btn_more{position: relative;opacity: 0;}
.list a:hover .list_txt .btn_more, .list a:focus .list_txt .btn_more{opacity: 1;top: 0;}

/* 6) 본문4 */
.cnt4{background: url("../images/main/main-section04-bg.jpg") no-repeat center top;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.cnt4 .inner{padding-top: 220px;}
.pleasure_list{overflow: hidden;}/* li를 relative로 top100만큼 내려놓아서 다음번 섹션(.cnt5)으로 영역이 침범된다, 침범한 영역을 보여지지 않게 하려고 hidden 처리 */
.pleasure_list li{width: 25%;}

/* 작업1) .pleasure_list li의 높이를 인식시키기 => 가상요소로 padding-bottom 167% */
.pleasure_list li::after{content: ""; display: block; padding-bottom: 167%;}
/* 작업2) 4개의 li에 배경이미지 */
.pleasure_list li:nth-child(1){background-image: url("../images/main/hmg-main-pleasure-img-001.jpg");}
.pleasure_list li:nth-child(2){background-image: url("../images/main/hmg-main-pleasure-img-002.jpg");}
.pleasure_list li:nth-child(3){background-image: url("../images/main/hmg-main-pleasure-img-003.jpg");}
.pleasure_list li:nth-child(4){background-image: url("../images/main/hmg-main-pleasure-img-004.jpg");}
/* 작업3) 공통으로 위치 변경 : .list li a */

/* 작업4) .pleasure_list 내부의 a 태그만의 다른 스타일  */
.pleasure_list li a{background: rgba(0,0,0,0.5);}
.pleasure_list li a:hover, .pleasure_list li a:focus{background: rgba(0,0,0,0);}
/* 작업5) .pleasure_list 내부의 .list_txt를 absolute로 수직 가운데 위치 시키기, 수평은 왼쪽, 가로크기 100% 
(flex 말고 transform중 translateY로 -50% 올라오게 해서 수직가운데 위치하도록함) */
.pleasure_list li a .list_txt{top: 50%;transform:translateY(-50%);left:0; width: 100%;text-align: center;border: 1px solid yellowgreen;padding: 0 56px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* 작업6) 2개의 p 태그는 원래 자신의 위치보다 100픽셀 만큼 하단에서 불투명도 0에서 1로 올라옴, strong과 인접한 p만 처음 줄간격이 0에서 활성화 되면 1.5로 늘어남 */
.pleasure_list li a .list_txt p{margin-top: 0;line-height: 0;position: relative;top: 100px;opacity: 0;}
.pleasure_list li a .list_txt strong + p{
    font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pleasure_list li a:hover .list_txt p, .pleasure_list li a:focus .list_txt p{margin-top: 40px;}
.pleasure_list li a:hover .list_txt strong+p, 
.pleasure_list li a:focus .list_txt strong+p{top: 0;opacity: 1;line-height: 1.5;}
.pleasure_list li a:hover .list_txt .btn_more,
.pleasure_list li a:focus .list_txt .btn_more{line-height: 44px;}
.pleasure_list li a .list_txt .btn_more{-webkit-transition-delay: 0.1s;-moz-transition-delay: 0.1s;-o-transition-delay: 0.1s;transition-delay: 0.1s;}

/* 7) 본문5 */
.cnt5{height: 100vh;overflow: hidden;}
.nFestival_bg{top: 0;left: 50%;transform: translateX(-50%);width: 100%;height: 100%;background: url("../images/main/hmg-main-n-festival-bg.jpg") no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index: -1;transition: width 0.5s ease-in-out;}

/* 수평방향은 가운데 위치시키기(가로크기가 200%에서 100%로 조절) */
.cnt5 .inner{padding-top: 223px;text-align: left;}

/* 8) 본문6 */
.cnt6 .inner{padding-top: 220px;padding-bottom: 200px;}
.sns_list{margin-top: 56px;}
.sns_list li::after{content: "";display: block;padding-bottom: 100%;}
/* // 가상요소도 부모 li와 같은 사이즈로 크기,공간 인식하도록 block 줌  */
.sns_list li{position: relative;float: left;width: 25%;background: no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.sns_list li:nth-child(1){background-image: url("../../sns-file/sns1.png");}
.sns_list li:nth-child(2){background-image: url("../../sns-file/sns2.jpg");}
.sns_list li:nth-child(3){background-image: url("../../sns-file/sns3.png");}
.sns_list li:nth-child(4){background-image: url("../../sns-file/sns4.png");}
.sns_list li:nth-child(5){background-image: url("../../sns-file/sns5.jpg");}
.sns_list li:nth-child(6){background-image: url("../../sns-file/sns6.jpg");}
.sns_list li:nth-child(7){background-image: url("../../sns-file/sns7.jpg");}
.sns_list li:nth-child(8){background-image: url("../../sns-file/sns8.jpg");}

.sns_list li a{display: flex;align-items: center;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}/* flex-direction: row;flex-wrap: nowrap;justify-content: flex-start; */
.sns_list li a:hover, .sns_list li a:focus{background: rgba(0,0,0,.8);}
.sns_list li a p{padding: 0 20px;font-size: 18px;line-height: 28px;opacity: 0;}
.sns_list li a:hover p, .sns_list li a:focus p{opacity: 1;}
.sns_list li a, .sns_list li a p{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}

/* 본문2 ~ 본문6까지 스크롤을 움직이면 숨겼다 나타나는 컨텐츠 공통 제어 */
.inner .tit_top, .inner .tit, .inner .txt, .list li, .sns_list{position: relative;top: 100px;opacity: 0;}

/* 9) 본문7 */
.cnt7{padding: 0 80px;background: #000;font-size: 18px;}
.cnt7 .inner{text-align: left;padding: 25px 0 25px 110px;height: 80px;line-height: 30px;/* background: grey; */}
.cnt7 .inner h2{position: absolute;font-family: HDhB;top: 25px;left: 0;}
.cnt7 .inner h2 a:hover, .cnt7 .inner h2:focus{text-decoration: underline;}
/* 본문7 슬라이더 */
.cnt7 .swiper-container::before{content: "";position: absolute;top: 0;left: calc(50% - 60px);width: 1px;height: 30px;background: #ffffff;}
.cnt7 .swiper-slide{padding-right: 100px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.cnt7 .swiper-slide a{position: relative;float: left;width: calc(100% - 140px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.cnt7 .swiper-slide span{float: right;font-size: 16px;color: #999;}

/* 접근성 추가 - 보여지지 않는 슬라이더에 포커스를 제한 */
.cnt7 .swiper-slide > *{visibility: hidden;}/* display: none 달리 현재 공간을 차지 */
.cnt7 .swiper-slide.swiper-slide-active > *, .cnt7 .swiper-slide.swiper-slide-next > *{visibility: visible;}

/* 포커스 제어 - 아웃라인 제거 하고 absolute 가상요소로 만들어 테두리 처리  */
.cnt7 .swiper-slide a:focus, .cnt7 .controller > *:focus{outline: none;}
.cnt7 .swiper-slide a:focus::after, .cnt7 .controller > *:focus::after{content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 1px solid #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.cnt7 .controller{top: 2.5px;right: 0;width: 75px;height: 25px;background: #000;}
.cnt7  .prev_next, .cnt7 .play_stop{top: 0;width: 25px;height: 25px;margin-top: 0;z-index: 10;color: transparent;background: url("../images/icon/main-news-ctrl.png") no-repeat;}
.cnt7 .swiper-button-prev{left: 0;}
.cnt7 .swiper-button-next{right: 0;background-position: right top;}

.cnt7 .play_stop{left: 25px;}
.cnt7 .autoplay{display: none;background-position: -50px 0;}
.cnt7 .autostop{background-position: -25px 0;}

